<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <!-- <p >Wildside Clothings</p> -->
    <a class="navbar-brand text-uppercase" href="#">Wildside Clothings</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">New Arrival
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dress</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bottoms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Outers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Accessory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop the Style</a>
        </li>
        
      </ul>

      <form class="form-inline ml-auto mr-1">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Entire Store Here..." aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        <span class="glyphicon glyphicon-search"></span>
      </form>
    </div>
  </div>
</nav>



<in-card-catagory></in-card-catagory>